body {
  font-family: "Roboto", sans-serif;
}

/* 
  The browser ignores on mobile devides the overflow-x: hidden 
  within the body and html tags whether <meta name="viewport"> 
  tag is present.
 */
.wrapperSite {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

header {
  padding: 80px 60px;
}

.wrapperHeader {
  position: relative;
}

h1 {
  color: #d2872c;
  font-weight: bold;
  font-size: 3rem;
}

.wrapperHeader__menu {
  position: absolute;
  top: 25%;
  right: 0;
}

.wrapperHeader__menu li {
  display: inline;
  margin: 0 0 0 1rem;
  cursor: pointer;
}

.wrapperHeader__menu a {
  color: #48484b;
  text-decoration: none;
  font-size: 1.5rem;
}

.wrapperHeader__menu a:hover {
  color: #d2872c;
}

.wrapperBurger {
  display: none;
}

#menuToggle {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;
  opacity: 0;
}

.wrapperBurger > span {
  display: block;
  width: 26px;
  height: 3px;
  background: #6f6f75;
  margin: 0 0 4px;
  transition: 0.3s;
  z-index: 2;
}

#menuToggle:checked ~ span {
  background: #ffffff;
}

.wrapperBurger__menu {
  display: block;
  position: absolute;
  top: -43px;
  right: -32px;
  width: 60vw;
  height: 100vh;
  background: #d2872c;
  z-index: -1;
  text-align: right;
  padding: 6rem 1.8rem 0 0;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.wrapperBurger__menu li {
  display: block;
  margin: 0 0 1.6rem;
}

.wrapperBurger__menu a {
  font-size: 1.7rem;
  color: #ffffff;
  text-decoration: none;
}

.wrapperBurger__menu a:active {
  color: #000000;
}

#menuToggle:checked ~ .wrapperBurger__menu {
  transform: scale(1.0, 1.0);
  box-shadow: 0 1em 2em #000000;
}

main {
  position: relative;
}

.wrapperImg {
  position: absolute;
  width: 55%;
  top: 30px;
  right: 10%;
}

.wrapperImg__meet {
  width: 100%;
}

.wrapperCtn {
  position: absolute;
  width: 45%;
  left: 10%;
}

.wrapperCtn__title {
  color: #6f6f75;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 1.2;
}

.wrapperCtn__desc {
  color: #6f6f75;
  font-size: 2.6rem;
  line-height: 1.2;
}

.wrapperCtn__title,
.wrapperCtn__desc {
  margin: 0 0 0.5em;
}

.wrapperCtn__btn {
  color: #ffffff;
  font-size: 2.5rem;
  padding: 20px 100px;
  border-radius: 15px;
  background: #d2872c;
  border: none;
  cursor: pointer;
  margin: 1em 0;
}

.wrapperCtn__btn:hover {
  background: #a75d02;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.7rem;
  }

  .wrapperCtn__title {
    font-size: 2rem;
  }

  .wrapperCtn__desc {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding: 40px 30px;
  }

  h1 {
    font-size: 2rem;
  }

  .wrapperHeader__menu {
    display: none;
  }

  .wrapperBurger {
    display: block;
    position: absolute;
    top: 43px;
    right: 32px;
    z-index: 1;
  }
  
  main {
    padding: 0 20px;
  }

  .wrapperImg,
  .wrapperCtn {
    position: static;
    width: 100%;
  }

  .wrapperImg__meet {
    width: 100%;
    margin: 0 0 2em;
  }

  .wrapperCtn {
    width: 100%;
    text-align: center;
  }

  .wrapperCtn__title {
    font-size: 2.8rem;
  }

  .wrapperCtn__desc {
    font-size: 1.4rem;
  }

  .wrapperCtn__btn {
    font-size: 1.4rem;
    padding: 5% 30%;
  }
}

@media screen and (min-width: 768px) {
  .wrapperBurger {
    display: none;
  }

  .wrapperHeader__menu {
    display: inline;
  }
}
