body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #D2872C;
    font-weight: 700;
    font-size: 3em;
}

header {
    padding: 80px 60px;
}

.header-content {
    position: relative;
}

nav {
    position: absolute;
    top: 25%;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 1em;
    cursor: pointer;
}

nav a {
    color: #48484b;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    color:  #D2872C;
}

main {
    padding: 0 60px;
}

.title {
    color: #6f6f75;
    font-weight: 800;
    font-size: 5em;
}

.desc {
    color: #6f6f75;
    font-size: 2.5em;
}

.btn-start {
    color: #FFFFFF;
    font-size: 2.5em;
    font-weight: 500;
    padding: 20px 100px;
    border-radius: 15px;
    background: #D2872C;
    border: none;
    cursor: pointer;
}

.btn-start:hover {
    transition: 300ms;
    background: #c8985d;
}

.team-image {
    width: 60%;
}




